################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Certify.Api/Certify.Api/nuget-api-key.txt
